* {
    margin: 0;
    /*overflow-x: hidden;*/
}

/* VARIABLES */

:root {
    --main-color: #2533AD;
    --second-color: #8597E1;
    --hover-color: #F7EECF;
    --bg-color: #F5F4F0;
    --text-color:#131B5E;

    --display-font: "Climate Crisis", sans-serif;
    --nav-font:"Lexend Exa", sans-serif;
    --main-font:"Lexend", sans-serif;
}


body{
    background-color: var(--bg-color);
}

main{
    width:80%;
    margin: 0 auto 0 auto;

}
#page-header {
        color:var(--main-color);
        font-family: var(--display-font);
        text-align: center;
        margin-top: 1rem;
}

nav {
    background-color: var(--second-color);
    font-family:var(--nav-font);
    color:var(--bg-color);
    width: 80%;
    margin:1rem auto 2rem auto;

    ul {
        list-style-type: none;
        padding: 20px 10px;

        li {
            color:var(--bg-color);
            text-align:center;
            padding:0.2rem;
        }
    }

    li:hover {
        cursor: pointer;
        color: var(--hover-color);
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

.card {
    border: 1px solid var(--main-color);
    margin-bottom:1rem;

    .card-header {
        background: var(--main-color);
        color: var(--bg-color);
        text-align: center;
        font-family: var(--main-font);
        font-weight:bold;
    }

    .movie-info {
        color: var(--text-color);
        padding: 10px;

        img {
            max-width:100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 10px;
        }

        p {
            padding: 10px;
            font-family: var(--main-font);
        }

        .bold {
            font-weight: bold;
        }
    }
}

footer {
    background-color: var(--main-color);
    padding: 20px 0;
    text-align: center;
    color: var(--bg-color);
    font-family: var(--main-font);
}

@media only screen and (min-width: 500px) {
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li{
            text-align: left!important;
        }
    }

    main{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap:1rem;
    }
    .card {
        width:100%;
        }
    }



@media only screen and (min-width: 768px) {
    main{
        grid-template-columns: repeat(3,1fr);
    }

}



/* Media query standards

MOBIL:
320 X 667 (minimum)

Tablet: 
768px 

Desktop:
1200px

*/

